# Database Configuration
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=bnr_portal
DB_PORT=5432


# Ports Configuration
BACKEND_PORT=3001
NEXT_FRONTEND_PORT=3000

# API URL (Frontend needs this to talk to backend)
NEXT_PUBLIC_API_URL=http://localhost:3001

# Secrets
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# MinIO Storage Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=bnr_admin
MINIO_SECRET_KEY=bnr_secret_key
MINIO_BUCKET_NAME=bnr-bucket
